@charset "UTF-8";
@font-face { font-family: 'designhouseOTFLight00'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'WONBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
.event_title {
    width: 1200px;
    margin: 50px auto 0 auto;
}
.event_title h2 {
	font-size: 40px;
    font-weight: 100;
    letter-spacing: -3px;
    line-height: 60px;
    margin-top: 26px;
    margin-bottom: 16px;
    height: 60px;
    font-family: 'designhouseOTFLight00';
}

.event_title span {
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 30px;
}

.event_content {
    text-align: center;
    margin-bottom: 180px;
    margin-top: 50px;
}

.event_grid {
    margin: 0 auto 30px auto;
    border: 1px solid white;
    width: 960px;
}

.event_grid span {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    
}

.event_grid img {
    margin: 0 auto 20px auto;
    width: 958px;
}

.event_grid:hover {
    border: 1px solid orangered;
}

.container_title {
    border-bottom: 1px solid darksalmon;
    border-top: 1px solid darksalmon;
    width: 900px;
    margin: 100px auto 30px auto;
}

.container_title span {
    display: block;
    margin: 10px;
}

.container_content {
    border-bottom: 1px solid gray;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.event_button {
    background-color: blanchedalmond;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 30px auto;
}

.event_button a {
	text-decoration: none;
	font-family: 'YiSunShinDotumM';
	color: black;
	font-size: 20px;
}

.event_button a:hover {
	text-decoration: none;
	color: black;
}

