@charset "UTF-8";

@font-face {
	font-family: 'designhouseOTFLight00';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WONBatang';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONBatang.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face { 
	font-family: 'YiSunShinDotumM'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

html, body, ul, li, h2, h3 {
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.top {
	padding: 5px;
	text-align: center;
	background-color: beige;
	font-family: 'WONBatang';
	font-size: 20px;
	font-weight: bold;
}

.top a:hover {
	color: black;
	text-decoration: none;
}

.header .login {
	margin-right: 30px;
	font-family: 'WONBatang';
	/*background-color: aquamarine;*/
}

.header .login ul {
	ovtierflow: hidden;
	margin: 0;
}

.header .login li {
	float: right;
	margin: 10px;
}

.login a {
	color: black;
	text-decoration: none;
}

.login a:hover {
	color: black;
	text-decoration: none;
}

.header_wrapper {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	/*position: relative;*/
}

.header_container {
	width: 1200px;
	margin: 0 auto;
}

.header_grid {
	float: left;
	height: 150px;
}

.header_event {
	display: inline-block;
	width: 400px;
}

.header_event p {
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	width: 230px;
}

.header_event ul {
	overflow: hidden;
}

.header_event li {
	float: left;
	margin: 5px;
}

.header_event .list_logo {
	width: 50px;
}

.header_logo {
	/*background-color: darkturquoise;*/
	display: inline-block;
	width: 400px;
}

.header_logo img {
	width: 150px;
	margin-bottom: 100px;
}

.header_search {
	display: inline-block;
	width: 380px;
}

.search_icon {
	overflow: hidden;
}

.search_icon li {
	float: right;
	margin: 3px;
}

.navbar_container {
	width: 100%;
}

.navbar {
	overflow: visible;
	font-family: 'WONBatang';
	font-weight: bold;
	width: 960px;
	margin: 0 auto;
	font-size: 15px;
	z-index: 99999;
	/*background-color: forestgreen;*/
}

.navbar a {
	float: left;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 135px;
}

.dropdown {
	float: left;
	overflow: visible;
	margin: 0 auto;
	z-index: 99999;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	margin: 0;
	width: 135px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: bisque;
	color: black;
	text-decoration: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 99999;
	border: none;
	border-top: 1px solid black;
}

.dropdown-content .header {
	/*  background: red;*/
	padding: 16px;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	text-align: center;
}

.column h3 {
	color: coral;
	font-size: 18px;
	font-weight: bold;
}

.column a {
	float: none;
	color: black;
	padding: 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: normal;
	font-family: '맑은고딕';
	font-size: inherit;
}

.column a:hover {
	color: dimgrey;
	background-color: white;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		height: auto;
	}
}

.content_layout {
	margin-top: 50px;
	background-color: #F9F9F9;
	padding: 30px;
}

.content_grid {
	width: 1200px;
	margin: 0 auto;
}

.content_left {
	text-align: right;
}

.layout_img img {
	padding: 10px;
	background-color: white;
	margin-bottom: 15px;
	margin-top: 15px;
}

.layout_img:hover {
	opacity: 0.4;
}

.best_wrapper {
	padding-bottom: 50px;
	padding-top: 50px;
}

.best_wrapper h3, .new_item h3 {
	font-family: 'WONBatang';
	letter-spacing: 0.4em;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 20px;
}

.best_wrapper ul, .new_item ul {
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}

.best_wrapper li, .new_item li {
	float: left;
	text-align: center;
}

.rolling_panel img, .new_item img {
	width: 250px;
	height: 265px;
	margin: 10px;
	border-radius: 30px;
}

.rolling_panel li a {
	color: black;
	text-decoration: none;
}

.rolling_panel li a:hover {
	text-decoration: none;
	color: black;
}

.new_item ul li:last-child {
	border-right: none;
}

.new_item img:hover {
	webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.brand_grid {
	width: 1212px;
}

.brandimg {
	float: left;
	margin: 20px;
	
}

.brandimg img {
	width: 200px;
	border-radius: 50%;
	padding: 5px;
	background-color: #ededed;
}

.footer {
	background-color: #F9F9F9;
	height: 350px;
	margin-top: 80px;
	padding: 20px;
	background-image: url(/beaudam/resources/image/beaudam/main/logo.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 150px;
}

.footer p {
	text-align: center;
}

.side img {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.basket_order {
	position: fixed;
	bottom: 300px;
	right: 0;
	cursor: pointer;
	background-color: #F5F5DC; 
	padding: 5px;
}	

.sticky {
	position: sticky;
	top: 0px;
	z-index: 999;
	background-color: white;
	border-bottom: 1px solid black;
}