@charset "UTF-8";
@font-face {
	font-family: 'designhouseOTFLight00';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WONBatang';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONBatang.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face { 
	font-family: 'YiSunShinDotumM'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

.title {
	font-family: 'designhouseOTFLight00';
	text-align: center;
	font-weight: normal;
	width: 1200px;
    margin: 50px auto 0 auto;
    letter-spacing: 0.1em;
}

.title h2 {
	font-size: 40px;
}